<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="../js/chat.js"></script>
    <script>
        $(document).ready(function () {
            joinRoom('<%= room %>');
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <h3> <span id="roomid"><%= room %></span>번 채팅방 </h3>
        <hr/>
        <div class="user-container">
            이름: <input type="text" id ="nickname">
        </div>
        <div class="input-container">
            메시지: <input type="text" class="chatting-input">
            <button class="send-button" onclick="sendMsg();">전송</button>
        </div>
        <div class="display-container">
            <ul class="chatting-list"></ul>
        </div>
    </div>
</body>
</html>
