<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="room-container">
            방 번호: <input type="text" id="roomid">
            <button class="enter-button" onclick="enterRoom();">접속</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/lobby.js"></script>
</body>
</html>